<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="ISO-8859-1">
<title>Unpocodetodo</title>
</head>
<body>
	<header>
		<h1>Musica</h1>

	</header>
	<nav>
		<ol>
			<li><a href="">Inicio</a></li>
			<li><a href="">Musica y sus tipos</a></li>
			<li><a href="">contacto</a></li>
			
		</ol>
	</nav>
	<main>
		<section>
		<h2> ¿Qué es la musica?</h2>
		<h2> introduccion</h2>
		<p>La música es, según la definición tradicional del término, el arte de crear y organizar sonidos y silencios respetando los principios fundamentales de la melodía, la armonía y el ritmo, mediante la intervención de complejos procesos psicoanímicos.</p>
		</section>
				
		<section>
		<h2>Tipos de musica</h2>
			<ul>
				<li>Pop:La música pop, también conocida simplemente como pop, es un género de música popular que tuvo su origen a finales de los años 1950 como una derivación del Pop tradicional, en combinación con otros géneros musicales que estaban de moda en aquel momento.​​</li>
				<li>Reguetón: El reguetón​ ​ es un género musical​ que derivó del reggae en español que es a su vez un subgénero del dancehall e incluye elementos del hip hop. Es un género musical muy popular; que alcanzó su apogeo máximos durante las décadas de 2000 y 2010.​​</li>
			</ul>
		</section>
		<h2>Contacto</h2>
		<table>
			<tr>
				<th>Redes</th>
				<th>Nombre</th>				
			</tr>
			<tr>
				<td>Instagram</td>
				<td>Unpocodetodo1</td>
			</tr>
			<tr>
				<td>Youtube</td>
				<td>Unpocodetodo2</td>
			</tr>
			
		</table>
		<section>
		</section>
	</main>
	<aside>
	 <h2>Descubre sobre otros temas en nuestra pagina</h2>
	 
	</aside>
	<footer>
		<h2>Gracias por leer!!!</h2>
		<p>Correo electronico:un pocodetodo25@gmail.com</p>
		<p>Escucha mi playlist para estudiar en:</p>
		<a href="https://youtu.be/17vfdtr5i30?si=b-9Qc9BynNkCzrl0">Youtube</a>
	</footer>	
</body>
</html>